doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		title Mocha CMS
		link(href='assets/css/main.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css', rel='stylesheet')
		link(href='https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css', rel='stylesheet')
	body