include ./includes/head.jade
include ./includes/side.jade
 
//-------------------------------------
// Main Body     
//-------------------------------------	 

main.container#container      
	| Woops! Looks like this page doesnt exist!
								
include ./includes/foot.jade				
