include ./includes/head.jade
include ./includes/side.jade
 
//-------------------------------------
// Main Body     
//-------------------------------------	 

main.container#container   
	#container-load        
		|settings here pls

								
include ./includes/foot.jade				
